* {
  background-color: #182029;
  font-family: "Roboto", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.title,
h2 {
  color: #cccccc;
}
.title {
  padding-bottom: 1rem;
}
.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.write-todo {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.todo-input,
.todo-button {
  padding: 0.5rem;
  font-size: 1rem;
  transition: 0.5s;
  margin-top: 2rem;
  outline: none;
  border: solid 1px #2e2f33;
}

.todo-input {
  background-color: #2e2f33;
  color: white;
  border-radius: 6px 0px 0px 6px;
}

.todo-button {
  color: #b35110;
  background-color: #19191b;
  border-radius: 0px 6px 6px 0px;
}

.todo-button:hover {
  background-color: #0d0f0f;
  cursor: pointer;
}

.listItem {
  word-break: break-word;
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0rem 2rem 0.5rem 2rem;
  background: rgb(46, 47, 51);
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0rem 20%;
}

li {
  color: #cccccc;
  background-color: #252629;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

a:link {
  text-decoration: none;
  word-break: keep-all;
  font-size: 15px;
  padding: 0.3rem;
  align-self: center;
  border-radius: 3px;
  border: solid 1px #2e2f33;
  color: #b35110;
  background-color: #19191b;
  transition: 0.5s;
}

a:hover {
  color: rgb(233, 123, 33);
  background-color: #0d0f0f;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@media screen and (max-width: 1100px) {
  ul {
    margin: 0rem;
  }
}
